requests
httpx
uvicorn
fastapi
#openai>=0.1.0
playwright
python-dotenv
websockets
python_anticaptcha
capmonstercloudclient
python_anticaptcha
python3_capsolver

# Type stubs for dependencies
types-requests
